.head{
    transition: font-size 2s;
}
.field
{
    opacity: 0.95;
    background-color: rgba(21, 23, 37, 0.753);
    font-weight: bolder;
    color: rgb(254, 254, 255);
}
.head:hover{
    font-size: 100px;
}
